{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/common/h2title.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/security/login.css') }}" type="text/css"/>
{% endblock %}

{% block body %}
    <form method="post">
        <h2>Connectez-vous</h2>

        <div class="email">
            <input class="input1" {% if error %}{{ 'style="border-color:red;"' }}{% endif %} type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        </div>

        <div class="password">
            <input class="input1" {% if error %}{{ 'style="border-color:red;"' }}{% endif %} type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <div class="remember">
            <label>
                Remember me
                <label class="switch">
                    <input type="checkbox" name="_remember_me" checked>
                    <span class="slider round"></span>
                </label>
            </label>
        </div>

        <div class="btn">
            <a href="{{ path('home') }}" class="signin left"><div class="signin left">Sign up</div></a>
            <button class="right" type="submit">
                Sign in
            </button>
        </div>
    </form>
{% endblock %}
