{% if annoucement is defined %}

    <link rel="stylesheet" href="{{ asset('css/annoucement/style.css') }}" type="text/css"/>

    <div class="shadow">
        <table>
            <thead>
            <th colspan="1" class="id"> {{ annoucement.id }} </th>
            <th colspan="1" class="title"> {{ annoucement.title }}</th>
            <th colspan="1" class="date"> {{ annoucement.createdAt | date("d/m/Y") }}</th>
            </thead>

            <tbody>
            <tr class="price">
                <td colspan="3"> {{ annoucement.price / 100 ~ ' €' }} </td>
            </tr>
            <tr class="content">
                <td colspan="3">{{ annoucement.content }}</td>
            </tr>
            {% if link %}
            <tr class="detail">
                <td colspan="3"> <a href="{{ path('pageDetail', {
                        'annouceId':annoucement.id}) }}">{{ 'seeMore' |trans({},'Annoucement') }}...</a> </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endif %}