<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome !{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/common/all.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/common/title.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/common/header.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/common/nav.css') }}" type="text/css"/>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1 class="title">TPNB</h1>
            {{ include('header.html.twig') }}
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
